body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

img {
	float: left;
    padding-right: 20px;
    width: 300px;
}

h5 {
	float: left;
    padding-right: 20px;
    width: 300px;
}

p {
	text-indent: 25px;
	padding-top: 25px;
    font-family: Helvetica, Arial, sans-serif;
}

#serv {
    padding-top: 25px;
}